/*


CSS 

*/

body{
    font-family: 'Roboto Slab', serif;
    width: 90%;
    max-width: 600px;
    margin: 1em auto;
    font-size: 1em;
    background-image: url("../img/portada\ web_Mesa\ de\ trabajo\ 1.jpg"); 
    background-size: 50%;
}

a.btn{
    display: inline-block;
    line-break: none;
    text-decoration: none;
    font-weight: 700;
    padding: 1ex 1em;
    margin: 0 1em 1em 0;
    border-radius: 1ex;
}

.amarillo{
    color: black;
    background-color: rgb(161, 203, 240);
    
}

.naranjo{
    color:black;
    background-color: rgb(161, 203, 240);
    
}

.naranjo:hover{
    background-color:rgb(245, 224,134);
}

.amarillo:hover{
    background-color: rgb(245, 224,134);
}

